<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/SOSS_green+yellow.svg" alt="SOSS logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			<!-- newsletter signup -->
			<div class="ml-embedded" data-form="fHaHgf"></div>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/3166302756926054/?ref=share" "svg" "icons-facebook" "alt" "SOSS Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-x" "alt" "SOSS X") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "SOSS Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-mail" "alt" "SOSS Email") }}
				</ul>
			</div>

		</div>
	</div>

</footer>
