<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
      
      <!-- MailerLite Universal -->
      <script>
        (function (w, d, e, u, f, l, n) {
          w[f] = w[f] || function () {
            (w[f].q = w[f].q || [])
              .push(arguments);
          }, l = d.createElement(e), l.async = 1, l.src = u,
            n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
        })
          (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
        ml('account', '340590');
      </script>
      <!-- End MailerLite Universal -->
    {{ end }}
  </body>
</html>
